@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.css or your global stylesheet */
/* Hide scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  display: none;
}

/* Optional: Hide scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Optional: Hide scrollbar for IE and Edge */
html {
  -ms-overflow-style: none;
}